.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* グレーの透明背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.answerModal,
.commentModal {
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.textarea {
  width: 100%;
  height: 200px;
  resize: vertical;
  margin-top: 12px;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonArea {
  text-align: right;
  margin-top: 16px;
}

.postButton {
  background-color: #1976d2;
  color: white;
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.postButton:hover {
  background-color: #115293;
}

.alert {
  color: red;
}

.DeleteButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}

.DeleteButton {
  background-color: #dddddd;
  color: black;
  padding: 4px 16px;
  font-size: 1rem;
  border: 1px solid #333333;
  border-radius: 4px;
  cursor: pointer;
}
