.signinContainer {
  max-width: 450px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff;
  color: #333;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signinHeader {
  font-size: 45px;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #333;
  margin-bottom: 10px;
}

.signinForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* align-items: center; */
  width: 100%;
  /* text-align: center; */
}

.signinForm,
.signinDescription {
  font-size: 0.9rem;
  color: #333;
}

.signinLink {
  color: #1155ff;
  text-decoration: underline;
  font-weight: bold;
}

.formGroup {
  text-align: left;
}

.formLabel {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
}

.formInput {
  width: 100%;
  padding: 12px;
  border: 1px solid #555;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 15px;
  background-color: #ffffff;
  color: #333;
}

/* 入力フィールドにフォーカス時のスタイル */
.formInput:focus {
  border-color: #56a8ff;
  border: 1px solid #56a8ff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.signinButton {
  width: 100%;
  background-color: #56a8ff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 15px;
}

.signinButton:hover {
  background-color: #3898ff;
}

/* .signupContainer {
  margin-top: 30px;
}

.signupText {
  font-size: 15px;
  color: #333;
}

.signupLink {
  font-size: 1rem;
  color: #56a8ff;
  font-weight: bold;
  text-decoration: none;
}

.signupLink:hover {
  text-decoration: underline;
} */