.sorterFilter {
  padding: 1rem;
  background-color: #f1f1f1;
  border-radius: 4px;
  margin: 1rem 0;
  width: 100%;
}

.selectSorter,
.selectFilter,
.selectTag {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  font-size: 1rem;
}

.selectSorter {
  margin-bottom: 3rem;
}

.TagInput {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  width: 100%;
  padding: 0.25rem 0.5rem;
  background-color: #ffffff;
  color: #4a5568;
  line-height: 1.5;
  outline: none;
  display: block;
  margin-bottom: 10px;
  resize: "none";
  font-size: 1rem;
}

@media (max-width: 576px) {
  .sorterFilter {
    margin: auto;
    margin-top: 2rem;
    padding: 0.5rem;
  }

  .selectSorter,
  .selectFilter,
  .selectTag,
  .TagInput {
    font-size: 0.875rem;
    padding: 0.4rem;
  }

  .selectSorter {
    margin-bottom: 0.5rem;
  }

  .TagInput {
    margin-bottom: 6px;
  }

}