.container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.form {
  background-color: #e2e8f0;
  /* bg-slate-200 */
  padding: 0.5rem 1.5rem;
  /* p-6 */
  border-radius: 0.375rem;
  /* rounded */

  display: flex;
  flex-direction: column;
  /* 子要素を縦に並べる */

  min-width: 576px;
  width: 65%;
}
