.container {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.form {
  background-color: #e2e8f0;
  padding: 0.5rem 1.5rem;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  min-width: 576px;
  width: 65%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 300px;
  margin: 0 auto;
}

.buttonSection {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 300px;
}

.button,
.deleteButton {
  height: 30px;
  width: 100%;
  background-color: #5566cc;
  color: white;
  border: none;
  cursor: pointer;
}

.deleteButton {
  background-color: #cc2266;
  color: white;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  /* ← 外側黒くする */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* 背景 */
}

.previewContainer {
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  z-index: 1010;
  min-height: 80vh;
  width: 800px;
  margin: 120px auto 40px auto;

  max-height: 90vh;
  overflow-y: auto;
}

.alert {
  color: red;
}

@media (max-width: 576px) {
  .form {
    background-color: #e2e8f0;
    padding: 0.5rem 1.5rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
  }

  .buttonSection {
    width: 280px;
  }

  .button {
    width: 280px;
  }
}
