.main {
  display: flex;
  gap: 20px;
  padding: 5px;
  margin-top: 100px;
  width: 100%;
}

.questionArea {
  flex: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filterSorter {
  flex: 1;
  width: 100%;
  border-left: 1px solid #ddd;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.questionCard {
  padding: 16px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 8px;
}

@media (max-width: 576px) {
  .main {
    flex-direction: column;
  }

  .questionArea {
    order: 2;
  }

  .filterSorter {
    order: 1;
    padding-left: 0px;
    margin: auto;
  }
}
