.main {
  display: flex;
  gap: 20px;
  padding: 5px;
  margin-top: 100px;
  width: 100%;
}

.questionArea {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filterSorter {
  flex: 1;
  border-left: 1px solid #ddd;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.questionCard {
  padding: 16px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 8px;
}
