.questionArea {
    /* margin-top: 200px; */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin: 15px;
    width: 70%;
}

.questionArea h2 {
    margin-bottom: 16px;
    color: #333;
    font-size: 1.5rem;
}