/* styles.module.css など */
.postButton,
.postButtonDisabled {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  /* ヘッダーの下に潜らないように調整 */
  padding: 12px 16px;
  border-radius: 30px;
  background-color: orange;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  height: 60px;
  width: 200px;
}

.postButton:hover {
  background-color: #dd8333;
}

.postButtonDisabled {
  background-color: #909090;
  cursor: not-allowed;
}

.answerButton,
.answerDisabledButton {
  /* ヘッダーの下に潜らないように調整 */
  padding: 4px;
  border-radius: 30px;
  background-color: orange;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  height: 45px;
  width: 150px;
}

.answerDisabledButton {
  background-color: #909090;
  cursor: not-allowed;
}

.commentButton,
.commentDisabledButton {
  /* ヘッダーの下に潜らないように調整 */
  padding: 4px;
  border-radius: 30px;
  background-color: skyblue;
  color: white;
  /* font-weight: bold; */
  border: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  height: 45px;
  width: 150px;
}

.commentDisabledButton {
  background-color: #909090;
  cursor: not-allowed;
}

.unselectedBestAnswerButton {
  cursor: pointer;
  color: #3366ee;
  text-decoration: underline;
}

.selectedBestAnswerButton {
  background-color: #e03366;
  color: white;
  cursor: pointer;
}

.bookmark {
  font-size: 1.0rem;
  color: #ff8833;
  border: solid 1px #ff8833;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  text-decoration: underline;
  font-weight: bold;
  pointer-events: auto;
  padding: 1px;
}

.unbookmark {
  font-size: 0.8rem;
  color: #aaaaaa;
  border: solid 1px #444444;
  cursor: pointer;
  background-color: transparent;
  pointer-events: auto;
  padding: 1px;
}

@media (max-width: 476px) {

  .postButton,
  .postButtonDisabled {
    width: 135px;
    height: 40px;
    font-size: 15px;
    padding: 0;
  }

  .commentButton,
  .commentDisabledButton,
  .answerButton,
  .answerDisabledButton {
    height: 35px;
    width: 120px;
    font-size: 15px;
  }
}