.main {
  display: flex;
  gap: 20px;
  padding: 5px;
  margin-top: 100px;
  width: 100%;
}

.questionArea {
  /* margin-top: 200px; */
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin: 15px;
  width: 70%;
  margin: auto;
  margin-top: 120px;
}

.questionArea h2 {
  margin-bottom: 16px;
  color: #333;
  font-size: 1.5rem;
}

.commentCard {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 150px;
  overflow: hidden;
}

.commentTime {
  font-size: 1rem;
  font-weight: bold;
  /* text-decoration: underline; */
}

.commentContent {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  max-height: calc(1.4em * 3);
  margin: 0.7rem 0.5rem;
  font-size: 0.8rem;
}
