.main {
  display: flex;
  gap: 20px;
  padding: 5px;
  margin-top: 100px;
  width: 100%;
}

.ProfileContainer {
  margin: 120px auto 0 auto;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  min-height: 250px;
  min-width: 300px;
  max-width: 70%;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ProfileImageContainer {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 300px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.ProfileImage,
.ProfileImageEdit {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
}

.ProfileImageEdit {
  cursor: pointer;
}

.ProfileSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 200px;
  border-radius: 10px;
  background-color: #f3f3f3;
  padding: 10px 20px;
}

.Introduce {
  margin-top: 10px;
  font-size: 16px;
  white-space: normal;
  word-break: break-word;
}

/* .ImageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
} */

.ProfileSection label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ProfileSection input,
.ProfileSection textarea {
  margin-top: 4px;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.ProfileSection textarea {
  height: 60px;
}

.ButtonGroup {
  display: flex;
  width: 100%;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.passwordButton {
  background-color: #f9f9f9;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.updateButton {
  background-color: #f9f9f9;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.alert {
  color: red;
}

.LoadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #dddddd;
  font-size: 40px;
  font-weight: bold;
}

.Blink {
  animation: blink 0.8s step-start infinite;
}

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}
