.main {
  display: flex;
  gap: 20px;
  padding: 5px;
  margin-top: 100px;
  width: 100%;
}

.ProfileContainer {
  margin: 120px auto 0 auto;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  min-height: 250px;
  min-width: 300px;
  max-width: 70%;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ProfileImageContainer {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 300px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.ProfileImage,
.ProfileImageEdit {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
}

.ProfileImageEdit {
  cursor: pointer;
}

.ProfileSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 150px;
  border-radius: 10px;
  background-color: #f3f3f3;
  padding: 10px 20px;
}

.ProfileAndEmailAndBotton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.editButton,
.disabledEditButton {
  background-color: #5588cc;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
  min-width: 80px;
  height: 45px;
  font-size: 16px;
}

.disabledEditButton {
  background-color: #cccccc;
  color: #555555;
  cursor: not-allowed;
}

.Introduce {
  margin-top: 10px;
  font-size: 16px;
  white-space: normal;
  word-break: break-word;
}

.ProfileSection label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ProfileSection input,
.ProfileSection textarea {
  margin-top: 4px;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.ProfileSection textarea {
  height: 60px;
}

.ButtonGroup {
  display: flex;
  width: 100%;
  padding: 0 auto;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.updateButton {
  background-color: #f9f9f9;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  min-width: 80px;
  height: auto;
  padding: 2px;
}

.disabledUpdateButton {
  background-color: #cccccc;
  color: #555555;
  cursor: not-allowed;
  height: 45px;
}

.passwordButton {
  background-color: #f9f9f9;
  text-decoration: underline;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  min-width: 80px;
  height: auto;
  padding: 2px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /* モーダルが前面に来るように */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* 黒背景＋半透明 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fileUploadLabel {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.alert {
  color: red;
}

.success {
  color: green;
}

.LoadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #dddddd;
  font-size: 40px;
  font-weight: bold;
}

.Blink {
  animation: blink 0.8s step-start infinite;
}

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

@media (max-width: 576px) {
  .ProfileContainer {
    flex-direction: column;
    align-items: center;
  }

  .editButton,
  .disabledEditButton {
    font-size: 15px;
    height: 45px;
  }

  .updateButton,
  .disabledUpdateButton,
  .passwordButton {
    font-size: 15px;
    height: 45px;
    min-width: 80px;
  }
}
