.answerCard,
.answerTop {
  background: #e8e8e8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.answerTop {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 30px;
}

.autherInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.autherInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.bestAnswerButton {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.answerContent {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}

.infomationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  gap: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  gap: 10px;
}

.editButton,
.deleteButton,
.disabledButton {
  /* position: absolute; */
  /* 親要素内での絶対位置 */
  bottom: 20px;
  /* 下から20pxの位置 */
  right: 20px;
  /* 右から20pxの位置 */
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.deleteButton {
  background-color: #c33377;
}

.disabledButton {
  background-color: #777777;
  color: white;
  cursor: default;
}

@media (max-width: 476px) {
  .answerTop {
    flex-direction: column;
    gap: 10px;
  }

  .answerContent {
    font-size: 0.9rem;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
