.main {
  display: flex;
  gap: 20px;
  padding: 5px;
  margin-top: 100px;
  width: 100%;
}

.questionArea {
  /* margin-top: 200px; */
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin: 15px;
  width: 70%;
  margin: auto;
  margin-top: 5px;
}

.questionArea h2 {
  margin-bottom: 16px;
  color: #333;
  font-size: 1.5rem;
}

.questionCard,
.unreadQuestionCard {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 150px;
  overflow: hidden;

  margin-top: auto;
  flex-direction: column;
}

.unreadQuestionCard {
  background-color: #ffc5c5;
}

.questionTitle {
  font-size: 1rem;
  font-weight: bold;
}

.questionTime {
  font-size: 0.8rem;
  /* margin: 0 auto; */
  text-align: right;
}

.questionDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  max-height: calc(1.4em * 3);
  margin: 0.3rem 0.1rem;
  font-size: 0.8rem;
}

.userIconButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.unreadBadge {
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
}
