.BreadCrumbsDetail,
.BreadCrumbsProfile,
.BreadCrumbsOverview,
.BreadCrumbsHome {
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
  height: 25px;
  /* background-color: rgba(225, 225, 255, 0.8); */
  font-size: 15px;
  color: #ccc;

  padding-left: 20px;
  margin: 100px auto 0 auto;
}

.BreadCrumbsDetail {
  max-width: 800px;
}

.BreadCrumbsProfile {
  max-width: 70%;
}

.BreadCrumbsOverview {
  max-width: 70%;
}

.BreadCrumbsHome {
  max-width: 95%;
}

@media (max-width: 576px) {
  .header {
    height: 80px;
  }

  .BreadCrumbsDetail,
  .BreadCrumbsProfile,
  .BreadCrumbsOverview,
  .BreadCrumbsHome {
    display: flex;
    gap: 10px;
    padding-left: 15px;
    font-size: 13px;
    white-space: nowrap;
    overflow-x: auto;
    margin-top: 80px;
    margin-left: 0px;
  }

  @media (max-width: 400px) {
    .BreadCrumbsDetail,
    .BreadCrumbsProfile,
    .BreadCrumbsOverview {
      padding-left: 5px;
      font-size: 11px;
      margin-left: 0px;
    }
  }
}
