name: Update Question Scores

on:
  schedule:
    - cron: "35 6 * * *" # 毎日6時半に実行
    - cron: "35 18 * * *" # 毎日18時半に実行
    - cron: "50 5 * * *" # 毎日0時半に実行

jobs:
  update-scores:
    runs-on: ubuntu-latest
    steps:
      - name: Call score update API
        run: |
          curl -X POST "https://rank-a.vercel.app/api/questions/score"
